* {
    box-sizing: border-box;
}

/* this applies the blue to light blue gradient to the background of the body */
body {
    background-image: linear-gradient(185deg, rgb(51, 138, 249),rgb(47, 248, 255));
    background-repeat: no-repeat;
    height: 100%;
}

/* this affixes the orientation of the top navigation bar, all top bars are very similar on each page, in regard to styling */
.top-bar {
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
    border: 2px outset rgb(128, 128, 128);
    color: #ffffff;
    border-radius: 10px;;
    margin: 10px;
}
/* -------------------------------------------- */
/* Rainbow Hover glow effect taken from https://codepen.io/kocsten/pen/rggjXp provided by author Kocsten*/
#glow-on-hover {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
#button-text {
    color: #ffffff;
}

#glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#glow-on-hover:active {
    color: #ffffff;
}

#glow-on-hover:active:after {
    background: transparent;
}

#glow-on-hover:hover:before {
    opacity: 1;
}

#glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* -------------------------------------------- */

#reset {
    color: #ffffff;  
}
/* This adjusts the background of the collection of state buttons and sets the background borders */
#list-of-states {
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
    border: 1px solid rgb(128, 128, 128);
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}
/* these affix the trasnparent outline effect around hovering over the button */
#state-button {
    background-color:transparent;
    text-decoration: none;
    color: #ffffff;
}

#state-button:hover {
    outline: #ffffff solid 4px;
    outline-style: double;
}

/* Each section is formatted the same(excluding the navbar), with the same background, margins, padding, size, and same transition duration   */
#main-section {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border: 2px solid #666;
    border-radius: 20px;
    background-image: repeating-linear-gradient(315deg, rgba(134,134,134, 0.1) 0px, rgba(134,134,134, 0.1) 2px,transparent 2px, transparent 4px),linear-gradient(270deg, rgb(216,216,216),rgb(216,216,216));
    transition: 0.2s all ease-in-out;
}

/* this allows each section to scale itself to be larger when you hover over it */
#main-section:hover {
    transform: scale(1.02);
}

#cityName {
    text-transform: capitalize;
}

#stateName {
    text-transform: capitalize;
}

/* This formats the section that the map appears */
#map {
    margin: 10px;
    border: 2px solid #666;
    border-radius: 10px;
}

#y-take-it {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border: 2px solid #666;
    border-radius: 20px;
    background-image: repeating-linear-gradient(315deg, rgba(134,134,134, 0.1) 0px, rgba(134,134,134, 0.1) 2px,transparent 2px, transparent 4px),linear-gradient(270deg, rgb(216,216,216),rgb(216,216,216));
    transition: 0.2s all ease-in-out;
}

#y-take-it:hover {
    transform: scale(1.02);
}

#helpful-links {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border: 2px solid #666;
    border-radius: 20px;
    background-image: repeating-linear-gradient(315deg, rgba(134,134,134, 0.1) 0px, rgba(134,134,134, 0.1) 2px,transparent 2px, transparent 4px),linear-gradient(270deg, rgb(216,216,216),rgb(216,216,216));
    transition: 0.2s all ease-in-out;
}

#helpful-links:hover {
    transform: scale(1.02);
}

/* This formats the embedded videos that appear on the page */
/* Link to CDC video https://www.youtube.com/embed/6Wqk2CrMrh8 */
/* Link to Stanford Medicine video https://www.youtube.com/embed/rAj38E7vrS8 */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0; 
}

.video-container iframe {
    position: absolute;
    width: 80%;
    height: 80%;
}

#vaccine-available {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border: 2px solid #666;
    border-radius: 20px;
    background-image: repeating-linear-gradient(315deg, rgba(134,134,134, 0.1) 0px, rgba(134,134,134, 0.1) 2px,transparent 2px, transparent 4px),linear-gradient(270deg, rgb(216,216,216),rgb(216,216,216));
    transition: 0.2s all ease-in-out;
}

#map {height: 50vh;}

#vaccine-available:hover {
    transform: scale(1.02);
}

#v-finder {
    text-decoration: none;
    color: #ffffff;
}