* {
    box-sizing: border-box;
}
body {
    background-image: radial-gradient(circle at center center, transparent 0%,rgb(33,33,33) 99%),repeating-linear-gradient(0deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),repeating-linear-gradient(90deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
}
.top-bar {
    border: 1px solid#666;
    background-color: #f0a647;
    border-radius: 10px;
    margin: 5px;
}

#reset {
    color: #ffffff;
    
}

#api-location-results {
    margin-top: 16px;
    margin-left: 5px;
    border: 1px solid#666;
    background-color: #f1ae57;
    border-radius: 20px;
}

#map {
    margin: 5px;
    border: 1px solid #666;
    border-radius: 15px;
}


