* {
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(circle at center center, transparent 0%,rgb(33,33,33) 99%),repeating-linear-gradient(0deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),repeating-linear-gradient(90deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33)), fixed;
}

.top-bar {
    background-color: #f0a647;
    border-radius: 10px;
    margin: 5px;
}

#menu {
    background-color: #f0a647;
}

.main-title {
    background: url("https://cdn.the-scientist.com/assets/articleNo/68059/hImg/40017/istock-1215208129-banner-l.png") 50% no-repeat;
    background-size: cover;
    height: 50vh;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#bottom-form {
    background-color: #f0a647;
    border: 1px solid#666;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
}

#card-divider {
    border-bottom: 1px solid #666;
}

#card-divider {
    background-color: #f0a647;
}
  
.main-title-text {
    color: #fefefe;
    text-shadow: 3px 3px 7px #0a0a0a;
}

#mission {
    margin-top: 16px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    background-color: #f1ae57;
}

#get-vaccinated-gif {
    width: 300px;
    height: auto;
    border: 1px solid#666;
    border-radius: 7px;
}

#services {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    background-color: #f3c07e;
}
#top-section-services {
    margin-bottom: 40px;
}

#multi-vax-gif {
    width: 40%;
    height: 40%;
    border: 1px solid#666;
    border-radius: 7px;
}

#card-section {
    background-color: #f1cfa3;
}

#form {
    background-color: #f1cfa3;
}

#virus-gif {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

