* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(233deg, #404046, #6f7a6c, #84a480, #86b880);
    background-size: 800% 800%;

    -webkit-animation: dark-gradient 10s ease infinite;
    -moz-animation: dark-gradient 10s ease infinite;
    animation: dark-gradient 10s ease infinite;
}

@-webkit-keyframes dark-gradient {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}
@-moz-keyframes dark-gradient {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}
@keyframes dark-gradient {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}

.top-bar {
    background-color: #f0a647;
    border-radius: 10px;
    margin: 5px;
}

#menu {
    background-color: #f0a647;
}

.main-title {
    background: url("https://cdn.the-scientist.com/assets/articleNo/68059/hImg/40017/istock-1215208129-banner-l.png") 50% no-repeat;
    background-size: cover;
    height: 50vh;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#bottom-form {
    background-image: repeating-linear-gradient(0deg, rgb(143,183,130) 0px, rgb(143,183,130) 1px,transparent 1px, transparent 3px),repeating-linear-gradient(90deg, rgb(143,183,130) 0px, rgb(143,183,130) 1px,transparent 1px, transparent 3px),linear-gradient(90deg, rgba(0,0,0, 0.55),rgba(0,0,0, 0.55));
    border: 1px solid#666;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

#card-divider {
    border-bottom: 1px solid #666;
}

#card-divider {
    background-image: repeating-linear-gradient(0deg, rgb(143,183,130) 0px, rgb(143,183,130) 1px,transparent 1px, transparent 3px),repeating-linear-gradient(90deg, rgb(143,183,130) 0px, rgb(143,183,130) 1px,transparent 1px, transparent 3px),linear-gradient(90deg, rgba(0,0,0, 0.55),rgba(0,0,0, 0.55));
}
  
.main-title-text {
    color: #fefefe;
    text-shadow: 3px 3px 7px #0a0a0a;
}

#mission {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 20px;
    background-image: repeating-linear-gradient(0deg, rgb(143,183,130) 0px, rgb(143,183,130) 1px,transparent 1px, transparent 3px),repeating-linear-gradient(90deg, rgb(143,183,130) 0px, rgb(143,183,130) 1px,transparent 1px, transparent 3px),linear-gradient(90deg, rgba(0,0,0, 0.55),rgba(0,0,0, 0.55));
}

#get-vaccinated-gif {
    width: 300px;
    height: auto;
    border: 1px solid#666;
    border-radius: 7px;
}

#services {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 20px;
    background-image: repeating-linear-gradient(0deg, rgb(143,183,130) 0px, rgb(143,183,130) 1px,transparent 1px, transparent 3px),repeating-linear-gradient(90deg, rgb(143,183,130) 0px, rgb(143,183,130) 1px,transparent 1px, transparent 3px),linear-gradient(90deg, rgba(0,0,0, 0.55),rgba(0,0,0, 0.55));
}
#top-section-services {
    margin-bottom: 40px;
}

#multi-vax-gif {
    width: 40%;
    height: 40%;
    border: 1px solid#666;
    border-radius: 7px;
}

#card-section {
    background-color: #f1cfa3;
}

#form {
    background-image: repeating-linear-gradient(0deg, rgb(143,183,130) 0px, rgb(143,183,130) 1px,transparent 1px, transparent 3px),repeating-linear-gradient(90deg, rgb(143,183,130) 0px, rgb(143,183,130) 1px,transparent 1px, transparent 3px),linear-gradient(90deg, rgba(0,0,0, 0.55),rgba(0,0,0, 0.55));}

#virus-gif {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

